@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


/* * {
    font-family: monospace;
} */

/* SELECTORS */
/* 
body {
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
} */

/* main {
    font-family: monospace;
}

h1, h2 {
    color: antiquewhite;
}
p {
    color: purple;
}

.highlight {
    text-transform: uppercase;
    background-color: goldenrod;
}
.gray {
    color: gray;
}

#second {
    font-style: italic;
}
 */

 /* Colors */

/* body {
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    background-color: #eee8aa;
    color: #0d0d22;
} */

/* p {
    color: #333;
}        */

/* CSS UNITS */
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

h1 {
   border: 2px dashed red;
   width: 50%;
   font-size: 3rem;
   padding: 0.5em;
}  

main {
    font-size: 2rem;
}

p {
    font-size: 2em;
    width: 40ch;
} */

/* BOX MODELS */

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box; ca permet de prendre en compte tout elets lors du partage de la largeur sauf la margin 
} */

.containe {
   border: 8px double #abd345;
   padding: 1.5em;
   margin: 1.5em;
   font-size: 1.5rem;
   outline: 5px solid #f0f; /*contours*/
   outline-offset: -20px; /*valeurs negatives on aura un contour a l'interieur de la boite et valeur positive contour exterieur*/
} 
/* 
.circle {
    background-color: gold;
    width: 100px;
    height: 100px;
    border: 2px solid black;
    outline: 2px solid red;
    outline-offset: -10px;
    border-radius: 100%;
    margin: 3.5rem auto;
} */

/* TYPOGRAPHY= IS the way that text is arranged and presented */


/* body {
    padding: 20px;
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif; monospace,fantasy,sans-serif,cursive
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
} */
/* input, button {
    font-size: inherit;
} */

/* p {
    text-transform: capitalize;
    text-decoration: underline;
    text-align: center;
    text-indent: 2rem; pour indenter la 1ere lettre
    line-height: 1.5;
    letter-spacing: .25em;
    word-spacing: 0.1em;
    font-weight: 300;
    font-style: italic;
} */

/* Styling Links */

/* a {
    color: hsl(210, 100%, 56%);
} */

/* pseudo elements */
/* a:visited {
    color: purple;
} */

a:hover, a:focus {
    /*color: hsl(208, 100%, 56%);*/ /* afin que la cooleur se ressemblent lors du passage du curseur ou */ 
    /* color: hsl(210, 100%, 56%, .7); */
    /* opacity: .8; */
    /* background-color: rgb(80, 98, 112); */
}

a:active {
    /* color: red; */
}

/* LIST STYLES  */

ol {
    /* list-style-type: none; */
    /* padding: 0; */
}

ul {
    /* list-style-type: square; */
    /* list-style-position: inside; */
    /* line-height: 1.6; */
    /* list-style-image: url(/csscourse/lesson1/img/check_mark.png); */
    /*list-style: square url(/csscourse/lesson1/img/check_mark.png) inside;*/ /*pour changer la position des puces ou l'img ensemble avec le texte en utilisant la veleur inside*/
    /* text-align: center; */
    /* color: blue; */
}
ul li:nth-child(odd) {
    /* pour utiliser les chiffres pairs on use even/ et odd pour i;pairs */
    /* color:chocolate; */
}
ul ::marker {
    /* color: black; pour changer la couleur(ou autres choses taille,font-family) des puces sans toucher le texte */
    /* font-size: 1em;
    font-family: fantasy;
    content: "only 5$ >> ";
    color: red; */
}

/* DISPLAY */

/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */

ul {
    list-style-type: none;
    padding: 0.5rem;
    margin: 0;
    text-align: right;
    background-color: rgb(31, 33, 31);
}

li {
    display: inline-block;
    margin-inline: .5rem; /*pour le cote droit et gauche*/
}

li a {
    color: #fff;
    text-decoration: none;
}

li a:hover, li a:focus {
    text-decoration: underline;
}

/* CSS FLOAT*/

.block {
    width: 30vw;
    height: 30vw;
    background-color: #000;
    color: #fff;
    padding: 2rem;
}

.left {
    float: left;
    margin-right: 1rem;
}
.right {
    float: right;
    margin-left: 1rem;
}

.clear {
    clear: both;/*ca permet que lelement commence sur une qutre ligne dans les 2 cotes*/
}

/* section {
    /* background-color: bisque; */
    /* border: 1px solid #333; */
    /* padding: 1rem; */
    /*overflow: auto;*/ /*pour regler le pb du debordement du contenu dans un contenaire, qfin doccuper tout espace*/
    /*display: flow-root;*/ /*pour regler le pb du debordement du contenu dans un contenaire, qfin doccuper tout espace*/
/* } */ 

/* COLUMNS */
/* pour plus de flexibilite a l'adaptation du contenu au contenaire on utilise columns-width */

.columns {
    /* column-count: 4;
    column-width: 250px; */
    columns: 4 250px;
    column-rule: 3px solid #333; /* ligne verticele entre le contenu*/
    column-gap: 3rem;
}

.columns p {
    margin-top: 0;
}

.columns h2 {
    color: #fff;
    background-color: #333;
    padding: 1rem;
    margin-top: 0;
    break-inside: avoid; /*au cas ou le contenu deborde dans une autre colonne*/ 
}

.columns .quote {
    font-size: 3rem;
    color: #333;
    text-align: center;
    column-span: all;
    margin-top: 2rem;
}

.nowrap {
    white-space: nowrap; /*ne pas laissez d'espace blanc autour du tiret*/
}

/* POSITION  */

/* .outer-container {
    border: 3px dashed #000;
    width: 75vw;
    height: 85vh;
    margin: 40px auto;
    position: relative;
} */

/* .inner-container {
    border: 2px solid #00f;
    width: 40vw;
    height: 50vh;
    margin: 200px auto;
} */

/* .box {
    width: 150px;
    height: 150px;
    color: #fff;
    padding: 1rem;
} */

.absolute {
    background-color: #00b;
    position: absolute;
    top: 0;
    left: -10000px;
}

.relative {
    background-color: #f00;
    position: relative;
    top: 300px;
    left: 100px;
    z-index: 1;
}
/* pour faire disparaitre un eleement tu peux utiliser une grande valeur negative au lieu de display=none */
.fixed {
    background-color: #0f0;
    position: fixed;
}

.sticky {
    background-color: yellowgreen;
    position: sticky;
}

/* html { scroll-behavior: smooth; } */

/* section {
    height: 100vh;
} */

.blue {
    background-color: #00f;
}

.red {
    background-color: #f00;
}

.green {
    background-color: #0f0;
}

/* header, footer {
    color: #fff;
    text-align: center;
    height: 100px;
} */

/* header {
    position: sticky;
    top: 0;
    font-size: 5rem;
} */

/* footer {
    background-color: #333;
    bottom: 0;
    width: 100%; ou 
    position: sticky;
    font-size: 3rem;
} */

a:visited {
    color: #fff;
}

.social {
    background-color: rosybrown;
    color: #fff;
    font-size: inherit;
    padding: 1rem;
    position: fixed;
    top: 40%;
    left: 0;
    z-index: 2;
}

/* FLEXBOX and GRID LAYOUT*/
/* toutes les modifications du flexbox se passe dans le container. on peut aussi apporter des mod individuelles*/ 

/* FLEXBOX */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* .container {
    max-width: 800px;
    min-height: 400px;
    margin-inline: auto;
    border: 1px solid #333;
    display: flex;
    justify-content: center; emplacement horizontal et align items emplacement vertical
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row nowrap; pour couper le contenu
    gap: 1rem;
    align-content: space-evenly; emplacement par rapport a l'axe horizontal
} */

/* .box {
    min-width: 100px;
    min-height: 100px;
    background-color: #333;
    color: #fff;
    font-size: 2rem;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    flex-shrink: 1;
    flex-grow: 1; permet de faire agrandir les elemts avec les mms dimensions
    flex-basis: 250px;ca remplace minwidth afin de donner la largeur a un elt
    flex: 1 1 250px;grow shrink basis
} */


/* .box:nth-child(2) {
    flex-grow: 2;
    flex-shrink: 2;retrecir un elment plus aue l'autre
    flex: 2 2 250px;
    order: 4;
} */

/* GRID LAYOUT */

/* body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-auto-rows: 50px auto 50px;
    grid-template-areas: 
    "hd hd hd hd hd hd hd hd hd"
    "mn mn mn mn mn mn mn sb sb"
    "ft ft ft ft ft ft ft ft ft";
    column-gap: .5rem;
} */
.box {
    background-color: #333;
    color: #fff;
    font-size: 2rem;
    padding: 0.5rem;
}

.el {
    background-color: rebeccapurple;
    color: #fff;
    display: grid;
    place-content: center;
}

.header {
    grid-area: hd;
}

.sidebar {
    grid-area: sb;
    background-color: #ed7878bd;
}

.footer {
    grid-area: ft;
}

/* .container {
    min-height: 400px;
    display: grid;
    grid-template-columns: repeat(2, 1fr 2fr);
    grid-auto-rows: minmax(150px, auto);
    gap: 1rem;
    grid-area: mn;
} */

/* pour voir les colonnes et lignes dans devtools il faut cliauer sur layout  */
.box:first-child {
    background-color: #e17979;
    /* grid-column-start: 1;
    grid-column-end: 4; */
    grid-column: 1 / 4;
    grid-row: 1 / 3;
    display: grid;
    align-content: center;
    justify-content: center;
    place-content: center center; /*align contnt / justfy contnt short end.*/
}
.box:nth-child(2) {
    background-color: rgba(156, 156, 237, 0.596);
    grid-column: 1 / 5;
    grid-row: 3 / 4;
}

/* IMAGES */

/* Start Rest   */
/* body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    background-color: aliceblue;
    background-image: url('../img/bubbles.png'), linear-gradient(to left, steelblue, #fff);
    background-repeat:repeat-y, no-repeat;
    background-position: right center;
    background-size: 15%, auto;
    background: repeat-y right center url('../img/bubbles.png'), no-repeat linear-gradient(to left, steelblue, #fff);
    background-size: 15%, auto;
} */

img{
    display: block;
}
/* End Reset  */

/* Utility classes */
.nowrap {
    white-space: nowrap;
}

.offscreen {
    position: absolute;
    left: -10000px;
}
/* End utility classes  */

.example {
    margin-top: 1rem;
    padding-left: 20px;
    border: 1px solid red;
}

.example img {
   width: 25%;
   height: auto;
   /* margin-top: 0.5rem; */
}
/* pour creer un filtre  */
.container {
    background-color: rgb(251, 210, 156);
    background-image: url(../img/map-2176x1451.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

/* pour creer un filtre  */

.hero {
    border-bottom: 2px solid #000;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    background-color: hsla(0, 0%, 0%, 0.403);
}


/* .h1 {
    font-size: 500%;
    color: aliceblue;
    text-shadow: 2px 2px 5px #000;
    background-color: hsla(0, 0%, 0%, 0.403);
    padding: 0.25rem;
    border-radius: 10px;
} */
.profile-pic-figure {
    width: 35%;
}

.profile-pic-figure img {
    height: auto;
    min-width: 100px;
    border: 5px double gray;
    width: 100%;
    border-radius: 50%;
}

/* Pour creer un masque avec la propriete backgr-clip  */
.clip {
    font-weight: 900;
    font-size: 18rem;
    text-align: center;
    background-image: url(../img/scenic-2200x1331.png);
    background-size: 100%;
    text-transform: uppercase;
    -webkit-background-clip: text;
    background-clip: text;
    color: hsla(0, 0%, 0%, 0.200);
}

/* Media Queries */

/* General styles  */
body {
    font: 1.5rem 'Roboto',sans-serif;
    min-height: 100vh;
    background-color: #475569;
    background-image: radial-gradient(whitesmoke, #475569);
    display: flex;
    flex-direction: column;
}

header, main, nav, footer {
    display: grid;
    place-content: center;
    grid-template-columns: 100%;
    text-align: center;
}

header, footer {
    position: sticky;
    background-color: #1E293B;
    color: whitesmoke;
}

nav {
    background-color: #fff;
    color: #000;
    padding: 0.5rem;
    border-bottom: 2px solid #000;
}

main {
    flex-grow: 1;
}

header {
    top: 0;
}

footer {
    bottom: 0;
}




/* mobile first si on utilise minwidth */
/* SMALL  */
@media screen and (min-width: 576px)  {
    body {
        background-color: green;
        background-image: radial-gradient(whitesmoke, green);
    }

    nav {
        display: none;
    }
}

/* MEDIUM  */

@media screen and (min-width: 768px)  {
    body {
        background-color: gold;
        background-image: radial-gradient(whitesmoke, gold);
    }
}

/* LARGE  */

@media screen and (min-width: 992px)  {
    body {
        background-color: FIREBRICK;
        background-image: radial-gradient(whitesmoke, FIREBRICK);
    }
}

/* XL  */

@media screen and (min-width: 1200px)  {
    body {
        background-color: rebeccapurple;
        background-image: radial-gradient(whitesmoke, rebeccapurple);
    }
}

/* MOBILE DEVICE LANDSCAPE  */

@media screen and (max-height: 425px) and (min-aspect-ratio: 7/4) {
    body {
        background-color: dodgerblue;
        background-image: radial-gradient(whitesmoke, dodgerblue);
    }

    h1, h2 {
        font-size: 1.5rem;
    }

    nav {
        display: none;
    }
}


